<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteAPI01">
    <test name="TestAPI01">
        <classes>
            <class name="applaudo.ApiTest">
                <methods>
                    <include name="gettingInfoOneCharacter"/>
                    <include name="getAllCharacters"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>